{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet.</p>
<img src="{% static 'img/iconic-2.png' %}" alt="" style="width: 65%;">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, non consequatur sequi aspernatur facilis nesciunt ipsum officia repellat dolore. Dignissimos, necessitatibus assumenda? Vitae unde eum omnis pariatur enim, quam perferendis odit quia, voluptatem rem nostrum in dignissimos nam aliquid sed? Veritatis aut soluta praesentium modi nobis suscipit facere facilis ea ad sapiente, maxime inventore hic eligendi! Eum adipisci aspernatur ea pariatur excepturi maiores rerum saepe sequi? Placeat commodi recusandae, corporis quia doloribus dignissimos fugit, et unde dolore dolorum mollitia iste obcaecati ipsa harum atque iure vero facilis ipsum animi deserunt?</p>
{% endblock content %}