{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5 center">
    <h1>WELCOME TO THE NEW ERA OF ARCHITECTURE</h1>
    <img src="{% static 'img/iconic-1.jpg' %}" alt="" style="width: 65%;">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit magnam deleniti excepturi assumenda odit reiciendis perferendis, iste numquam dolores iusto nam aut cupiditate quaerat nobis.</p>
</div>
{% endblock content %}